@media (max-width: 980px) {
    .projetos {
        height: 400px;
        gap: 100px;
    }

    .projetos > .imagens-projetos {
        width: 160px;
        height: 160px;
        border-radius: 500px;
        object-fit: cover;
        
    }

    #seta {
        display: none;
    }

}

@media (max-width: 750px) {
    .projetos > .imagens-projetos {
        width: 160px;
        height: 160px;
        border-radius: 500px;
        object-fit: cover;
        
    }
    
    .projetos > .imagens-projetos:hover {
        scale: 100%;
    }
    
    .projetos > p {
        width: 180px;
        height: 150px;
        font-size: 12px;
        line-height: 20px;
    }
    
    .projetos > p:hover {
        scale: 100%;
    }
}

@media (max-width: 600px) {
    header > h1 {
        font-size: 38px;
        animation-name: animacao-nome;
        animation-duration: 12s;
    }

    header > div#redes-sociais > .buttons {
        padding: 8px;
        width: 130px;
        border: 2px solid black;
        border-radius: 5px;
    }

    header > div#redes-sociais > .buttons > a {
        text-decoration: none;
        font-size: 17px;
    }


    .projetos {
       gap: 40px;
       flex-direction: column;
       height: 500px;
    }

    .projetos > .imagens-projetos {
        width: 150px;
        height: 150px;
        border-radius: 500px;
        object-fit: cover;
        
    }
    
    .projetos > .imagens-projetos:hover {
        scale: 100%;
    }
    
    .projetos > p {
        width: 300px;
        height: 150px;
        font-size: 14px;
        text-align: center;
        line-height: 20px;
    }
    
    .projetos > p:hover {
        scale: 100%;
    }
    
    footer > p {
        font-size: 13px;
    }
    footer > p > a {
        font-size: 13px;
    }
}


